.cancel {
    background-color: yellow;
}
.done {
    background-color: lime;
}
.delete {
    background-color: orangered;
}
.hideMessage {
    color:black;
    font-size: 20px;
}
.revealMessage {
    display:none;
}
.listBox {
    display: flex;
    flex-wrap: wrap;
    float: left;
    /* width: 80%;
    height: 20%; */
    /* justify-content: space-between; */
}
.listBox .item {
    margin: 10px;
    box-shadow: 3px 3px 3px grey;
}
.listBox h3, p {
    text-align: left;
}
.listBox p {
    font-size: 10px;    
}
.listBox input {
    margin: 0 auto;
}
.item {
    width: 180px;
    height: 200px;
    
    border: grey solid 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.checkNo {
    width: 12px;
    height: 12px;
    border: 1px solid grey;
    margin: 10px;
}
.checkYes {
    width: 12px;
    height: 12px;
    border: 1px solid red;
    background-color: red;

    margin: 10px;
}
.item h3 {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 20px;
    margin: 0;
    margin-left: 10px;
}
.item p{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 15px;
    margin: 0px;
    margin-left: 10px;
}
.item button {
    display: inline-block;
    color: white;
    margin: 5px;
    border: none;
    width: 70px;
    height: 20px;
    font-size: 15px;
}
.checkBox {
    display: flex;
    /* background-color: aqua; */
    /* height:20%; */
}
.selectOption {
    /* background-color: red; */
    /* height: 50% */
}
.본문 {
    /* background-color: yellow; */
    /* height: 50%; */
    /* background-color:; */
    margin-bottom: 80px;
}