.App {
  text-align: center;
}
.header {
  background-color: skyblue;
  color: white;
  font-size: 50px;
  font-style: oblique;
  margin: 0;
}
.inputBox {
  width:80%;
  height:20%;
  background-color:white;
  border: 1px solid;
  border-radius: 10px;
  border-color: grey;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 3px 3px 3px grey;
}
.inputBox input, button {
  height: 20px;
  border-radius: 5px;
}
.title {
  width: 150px;
}
.contents {
  width: 300px;
}
.title {
  /* width: 100px; */
}
.inputBox div {
  display: inline-block;
  margin: 5px;
}
.inputBox input {
  border: solid grey 1px;
  /* margin: 10px; */
}
.inputBox h2 {
  color: grey;
  font-size: 15px;
  text-align: left;
  margin: 0px;
}
.addButton {
  color: white;
  background-color: skyblue;
  size: 20px;
  border: none;
  
}
.listBox {
  /* width: 80%;
  height: 20%; */
  justify-content: flex-start;
}
.listBox .item {
  
  display: inline-block;
  margin: 10px;
  box-shadow: 3px 3px 3px grey;
  
}
.listBox h3, p {
  text-align: left;
}
.listBox p {
  font-size: 10px;
}
.listBox input {
  margin: 0 auto;
}
.item {
  width: 180px;
  height: 200px;
  border: grey solid 1px;
  border-radius: 10px;
}
.check {
  width: 12px;
  height: 12px;
  border: 1px solid grey;
  margin: 10px;
}
.item h3 {
  margin: 15px;
}
.item h3, p{
  margin-left: 10px;
}
.item button {
  display: inline-block;
  color: white;
  margin: 5px;
  border: none;
  width: 70px;
  height: 20px;
  font-size: 15px;
}
.본문 {
  height: 130px;
  /* background-color:; */
}
.delete {
  background-color: orangered;
}
.done {
  background-color: lime;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
