.App {
  text-align: center;
}
.header {
  background-color: skyblue;
  color: white;
  font-size: 50px;
  font-style: oblique;
  margin: 0;
}
.top {
  width:80%;
  height:20%;
  background-color:white;
  border: 1px solid;
  border-radius: 10px;
  border-color: grey;
  margin: 20px;
  /* display: flex; */
  /* flex-direction: row; */
}
.firstLine div{
  display: inline-block;
  width: 150px;
  height: 30px;
  border: none;
  margin: 10px;
  color: grey;
  font-size: 30px;
}
.secondLine div,button{
  display: inline-block;
  width: 150px;
  height: 70px;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 20px;

  /* flex-direction: row; */
}
.topTitle {
  /* margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center; */
}
.topContents {
  /* margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center; */
}
.addButton {
  position: absolute;
  background-color: skyblue;
  color: #fff;
  
  border:none; 
  border-radius:10px; 
  /* padding:15px; */
  /* min-height:30px;  */
  /* min-width: 120px; */
}
.bottom {
  width:80%;
  height:20%;
  margin: 20px;
  /* display: flex; */
  /* flex-direction: row; */
}
.bottom div{
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 5px;
  border: 1px solid;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
